
#wrapper {
   min-height:100%;
   position:relative;
}



body {
	background-color: #000000;
	background-image: url('../Kuvat/RentoPepe.png');
	background-size: 1920px;
	height: 100%;
	/*tästä korjatut */
	margin: 0;
	padding:10px;
	 padding-bottom:60px;   /* Height of the footer */

	}
header
{
height: 100px;
background: #01F0FE;
}
h1
{
color: #000000;
padding: 22px 0 0 20px;
}
nav
{
width: 700px;
height: 20px;
background: #01F0FE;
margin-left: 200px;

}
nav ul
{
margin: 0 0 0 -10px;
}
nav li
{
float: left;
list-style-type: none;
padding: 0 10px;
}
nav a {
color: black;
}
section
{
width: 400px;
background: #00000;
margin-top; -20px;
}
h2
{
color: #000;
padding: 10 px 0 0 10px;
text-align: center;
}
article
{
width: 400px;
background: #01F0FE
}
section{
	margin: 0 auto;
}
article p

{
padding: 10px;
}
aside
{
width: 200x;
height: 290px;
background: #00000;
float: right;
margin-top: -1px;
}
h3
{
color: #00000;
padding: 10px 0 0 10px;
}
aside article
{
width: 200px;
background: #000000;
color: #;
color: #fff;
}
footer
{
position: absolute;
  bottom: 0;
height: 60px;
background:#000000;
margin-bottom: -16px;
color: #fff;
/*position: bottom;*/
width: 400px;
clear: both;
    /*height: 200px;*/
    margin-top: auto;
	background-color: black;