h1 {
	color: green;
	font-family: 'Roboto', sans-serif;
}
#n1 {
	color: yellow; font-size: 8px;
}
#n2 {
	color: red; font-size: 14px;
}
#n3 {
	color: green; font-size: 16px;
}
#n4 {
	color: green; font-size:16px;
}
#n5 {
	color: green; font-size:24px;
}
#n6 {
	color: orange; font-size:24px;
}
#n7 {
	color: orange; font-size:18px;
}
#n8 {
	color:aqua;font-size:16px;
}
#n9 {
	color: darksalmon; font-size: 14px;
}
#n10 {
	color: plum; font-size: 8px;
}